URxvt.font: 				xft:System San Francisco Display:size=9, xft:Inconsolata for Powerline
URxvt.boldFont:            	xft:System San Francisco Display:size=9:bold, xft:Inconsolata for Powerline
URxvt.italicFont:          	xft:System San Francisco Display:size=9:italic, xft:Inconsolata for Powerline
URxvt.boldItalicFont:      	xft:System San Francisco Display:size=9:bold:italic, xft:Inconsolata for Powerline

URxvt.letterSpace: -3
URxvt.scrollBar: false

*background: #4A4646
*foreground: #C5C8C6
! black
URxvt.color0  : #000000
URxvt.color8  : #555555
! red
URxvt.color1  : #AA0000
URxvt.color9  : #FF5555
! green
URxvt.color2  : #00AA00
URxvt.color10 : #55FF55
! yellow
URxvt.color3  : #AA5500
URxvt.color11 : #FFFF55
! blue
URxvt.color4  : #0000AA
URxvt.color12 : #5555FF
! magenta
URxvt.color5  : #AA00AA
URxvt.color13 : #FF55FF
! cyan
URxvt.color6  : #00AAAA
URxvt.color14 : #55FFFF
! white
URxvt.color7  : #AAAAAA
URxvt.color15 : #FFFFFF

URxvt.internalBorder:      0
URxvt.externalBorder:      0

!URxvt*fading:              30
